.main-container * {
    font-family: "Open Sans", sans-serif;
}

.main-container i {
    font-family: FontAwesome !important;
}

.main-container .left-menu {
    position: fixed;
    left: 0px;
    top: 71px;
    width: 210px;
    height: 100%;
    background: #fff;
    border-right: 1px solid #ccc;
    padding: 10px 20px;
    float: left;
}

.main-container .left-menu ul {
    list-style: none;
    padding: 0px !important;
    margin: 0px !important;
}

.main-container .left-menu ul li {
    padding: 6px;
    background: #fff;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
}

.main-container .left-menu ul li:hover a, .main-container .left-menu ul li.active a {
    color: #fff;
}

.main-container .left-menu ul li:hover, .main-container .left-menu ul li.active {
    background-color: #ab171e;
    border-style: solid;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.34);
}

.main-container .left-menu ul li:hover {
    background-color: #444;
}

.main-container .left-menu ul li.active:hover {
    background-color: #ab171e;
}

.main-container .left-menu ul li.left-menu-toggle:hover a {
    color: #444;
}

.main-container .left-menu ul li.left-menu-toggle, .main-container .left-menu ul li.left-menu-toggle:hover {
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #f7f7f7;
    background-image: linear-gradient(#fff, #f0f0f0);
    border: 1px solid #ccc;
    cursor: pointer;
    width: 25px;
    margin-bottom: 10px;
}

.main-container .left-menu ul a {
    text-decoration: none;
    font-size: 14px;
    color: #444;
}

.main-container li.left-menu-toggle a {
    font-size: 22px;
    font-weight: normal;
}

.main-container .left-menu ul a i {
    margin-right: 15px;
    width: 20px;
}

.main-container .left-menu.close {
    width: 40px;
}

.main-container .left-menu.close ul a {
    white-space: nowrap;
}

.main-container .left-menu.close ul a span {
    display: none;
}

.main-container .main-content {   
    float: left;
    width: 800px;
    height: 500px;
    background: #fff;
    margin-left: 270px;
    border: 1px solid #ccc;
}

.main-container .main-content.adjust-left {
    margin-left: 98px;
}

.main-content .widget-header .widget-title {
    font-size: 15px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 3px solid #ab171e;
    padding: 0px 5px;
}

.widget-header .privacy-message {
    font-size: 13px;
    color: #aaa;
    font-weight: bold;
}

.widget-header .privacy-message i {
    margin-right: 5px;
}

.main-content .widget-header {
    padding: 10px;
    overflow: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.main-content .widget-header div {
    float: left;
}

.main-content .widget-header div:last-child {
    float: right;
}

.main-content .widget-header div:nth-child(2) {
    margin-left: 25px;
    margin-top: 2px;
}

.main-content .widget-action-bar {
    overflow: auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
}

.main-content .widget-action-bar .main-actions {
    overflow: auto;
    float: left;
    margin-left: 5px;
}

.main-content .widget-action-bar .widget-filter {
    float: right;
    position: relative;
    margin-right: 10px;
    margin-top: 4px;
}

.widget-filter i {
    color: #ccc;
    display: block;
    position: absolute;
    margin: 5px 2px 4px 10px;
    z-index: 3;
    width: 16px;
    height: 16px;
    font-size: 16px;
    text-align: center;
    float: right;
    right: 8px;
    cursor: pointer;
}

.widget-filter input {
    height: 20px;
    padding: 2px 26px 3px 10px;
    font-size: 13px;
    border: 1px solid #e5e5e5;
    box-shadow: none;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    line-height: 1.42857143;
    outline: none;
}

.main-actions table {
    float: left;
}

.main-actions button {
    padding: 5px;
    background: #fff;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    color: #444;
    font-weight: bold;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}

.main-actions button i {
    margin-right: 5px;
}

.main-actions button:hover {
    background: #ddd;
}

.marker {
	width: 80px;
	height: 30px;
	background: #333;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.marker input[type=checkbox] {
	visibility: hidden;
}

.marker:after {
	position: absolute;
	right: 10px;
	z-index: 0;
}

.marker:before {
	content: 'All';
	font: 12px/26px Arial, sans-serif;
	color: #fff;
	position: absolute;
	left: 10px;
	z-index: 0;
	font-weight: bolder;
}

.marker label {
	display: block;
	width: 34px;
	height: 20px;
        margin-top: 2px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 1;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background-image: linear-gradient(#e3262e, #ab171e);
        background-color: #ab171e;
}

.marker input[type=checkbox]:checked + label {
	left: 43px;
}

.task-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.task-list li {
     position:relative;
}

.task-list > li {
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid #F4F6F9;
    margin-top: 20px;
}

.task-list > li > .task-checkbox {
    float: left;
    margin-right: 10px;
}

div.checker {
    margin-left: 3px;
}

div.checker {
	width: 20px;
	position: relative;
        margin: -1px 0px 0px 15px;
}

div.checker label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	border-radius: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

div.checker label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid #fcfff4;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

div.checker label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

div.checker input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.task-list > li > .task-title {
    color: #838FA1;
    margin-right: 10px;
}

.task-list > li > .task-title .task-title-sp {
    margin-right: 5px;
}

.task-list > li > .task-config {
    /*display: none;*/
    position: absolute;
    top: 10px;
    right: 10px;
}

.task-list > li .task-config-btn {
    margin-top: -1px;
}

.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.squaredThree {
	width: 20px;	
	margin: 20px auto;
	position: relative;
}

.squaredThree label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	border-radius: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredThree label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid #fcfff4;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.squaredThree label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squaredThree input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.btn.default {
    color: #333333;
    background-color: #e5e5e5;
    border-color: "";
    position: relative;
    float: left;
    padding: 1px 5px;
    font-size: 13px;
    line-height: 1.5;
    border-width: 0;
    outline: none !important;
    background-image: none !important;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 1px;
    box-sizing: border-box;
    border-radius: 0;
    box-shadow: none;
    border: 0;
    background-color: #cecece;
}

.btn-xs > i {
    font-size: 11px;
    display: inline-block;
    width: 1.25em;
    text-align: center;
}

.btn-group .dropdown-menu {
    margin-top: 10px;
}

.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}

.dropdown-menu {
    min-width: 175px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    list-style: none;
    text-shadow: none;
    padding: 0px;
    margin: 10px 0px 0px 0px;
    background-color: #fffff;
    box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
    border: 1px solid #eee;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dropdown-menu.visible {
    display: block;
    background: #fff;
}

.dropdown-menu li > a {
    padding: 8px 14px;
    color: #555;
    text-decoration: none;
    display: block;
    clear: both;
    font-weight: 300;
    line-height: 18px;
    white-space: nowrap;
}

.dropdown-menu li > a > [class*=" fa-"] {
    color: #888;
}

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
    text-decoration: none;
    background-image: none;
    background-color: #f6f6f6;
    color: #555;
    filter: none;
}

.task-additional-info {
    float: left;
    margin: 10px 0px 0px 16px;
    font-size: 13px;
    color: #555;
    font-weight: 700;
}

.task-additional-info a {
    color: #5b9bd1;
}