.main-container * {
    font-family: "Open Sans", sans-serif;
}

.main-container i {
    font-family: FontAwesome !important;
}

.main-container .left-menu {
    position: fixed;
    left: 0px;
    top: 71px;
    width: 210px;
    height: 100%;
    background: #fff;
    border-right: 1px solid #ccc;
    padding: 10px 20px;
    float: left;
}

.main-container .left-menu ul {
    list-style: none;
    padding: 0px !important;
    margin: 0px !important;
}

.main-container .left-menu ul li {
    padding: 6px;
    background: #fff;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
}

.main-container .left-menu ul li:hover a, .main-container .left-menu ul li.active a {
    color: #fff;
}

.main-container .left-menu ul li:hover, .main-container .left-menu ul li.active {
    background-color: #ab171e;
    border-style: solid;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.34);
}

.main-container .left-menu ul li:hover {
    background-color: #444;
}

.main-container .left-menu ul li.active:hover {
    background-color: #ab171e;
}

.main-container .left-menu ul li.left-menu-toggle:hover a {
    color: #444;
}

.main-container .left-menu ul li.left-menu-toggle, .main-container .left-menu ul li.left-menu-toggle:hover {
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #f7f7f7;
    background-image: linear-gradient(#fff, #f0f0f0);
    border: 1px solid #ccc;
    cursor: pointer;
    width: 25px;
    margin-bottom: 10px;
}

.main-container .left-menu ul a {
    text-decoration: none;
    font-size: 14px;
    color: #444;
}

.main-container li.left-menu-toggle a {
    font-size: 22px;
    font-weight: normal;
}

.main-container .left-menu ul a i {
    margin-right: 15px;
    width: 20px;
}

.main-container .left-menu.close {
    width: 40px;
}

.main-container .left-menu.close ul a {
    white-space: nowrap;
}

.main-container .left-menu.close ul a span {
    display: none;
}

.main-container .main-content {   
    float: left;
    width: 800px;
    height: 500px;
    background: #fff;
    margin-left: 270px;
    border: 1px solid #ccc;
}

.main-container .main-content.adjust-left {
    margin-left: 98px;
}

.main-content .widget-header .widget-title {
    font-size: 15px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 3px solid #ab171e;
    padding: 0px 5px;
}

.widget-header .privacy-message {
    font-size: 13px;
    color: #aaa;
    font-weight: bold;
}

.widget-header .privacy-message i {
    margin-right: 5px;
}

.main-content .widget-header {
    padding: 10px;
    overflow: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.main-content .widget-header div {
    float: left;
}

.main-content .widget-header div:last-child {
    float: right;
}

.main-content .widget-header div:nth-child(2) {
    margin-left: 25px;
    margin-top: 2px;
}

.main-content .widget-action-bar {
    overflow: auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
}

.main-content .widget-action-bar .main-actions {
    overflow: auto;
    float: left;
    margin-left: 5px;
}

.main-content .widget-action-bar .widget-filter {
    float: right;
    position: relative;
    margin-right: 10px;
    margin-top: 4px;
}

.widget-filter i {
    color: #ccc;
    display: block;
    position: absolute;
    margin: 5px 2px 4px 10px;
    z-index: 3;
    width: 16px;
    height: 16px;
    font-size: 16px;
    text-align: center;
    float: right;
    right: 8px;
    cursor: pointer;
}

.widget-filter input {
    height: 20px;
    padding: 2px 26px 3px 10px;
    font-size: 13px;
    border: 1px solid #e5e5e5;
    box-shadow: none;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    line-height: 1.42857143;
    outline: none;
}

.main-actions table {
    float: left;
}

.main-actions button {
    padding: 5px;
    background: #fff;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    color: #444;
    font-weight: bold;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}

.main-actions button i {
    margin-right: 5px;
}

.main-actions button:hover {
    background: #ddd;
}

.marker {
	width: 80px;
	height: 30px;
	background: #333;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.marker input[type=checkbox] {
	visibility: hidden;
}

.marker:after {
	position: absolute;
	right: 10px;
	z-index: 0;
}

.marker:before {
	content: 'All';
	font: 12px/26px Arial, sans-serif;
	color: #fff;
	position: absolute;
	left: 10px;
	z-index: 0;
	font-weight: bolder;
}

.marker label {
	display: block;
	width: 34px;
	height: 20px;
        margin-top: 2px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 1;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background-image: linear-gradient(#e3262e, #ab171e);
        background-color: #ab171e;
}

.marker input[type=checkbox]:checked + label {
	left: 43px;
}

.task-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.task-list > li {
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid #F4F6F9;
}

.task-list > li > .task-checkbox {
    float: left;
    width: 30px;
}

div.checker {
    margin-left: 3px;
}

div.checker span {
    display: -moz-inline-box;
    display: inline-block;
    zoom: 1;
    text-align: center;
    background-position: 0 -260px;
    width: 19px;
    height: 19px;
    
    background-image: url("../images/sprite.png");
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased;
}

div.checker input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    zoom: 1;
    cursor: pointer;
}

div.checker input {
    width: 19px;
    height: 19px;
}

.task-list > li > .task-title {
    color: #838FA1;
    margin-right: 10px;
}

.task-list > li > .task-title .task-title-sp {
    margin-right: 5px;
}

.task-list > li > .task-config {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

.task-list > li .task-config-btn {
    margin-top: -1px;
}

.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}