#bg { position: fixed; top: 0; left: 0; }
.bgwidth { width: 100%; }
.bgheight { height: 100%; }

.intro-auth {
    width: 710px;
    padding: 10px;
    left: 50%;
    margin-left: -355px;
    background: #fff;
    border: 2px solid #ffffff;
    text-align: center;
    box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
    -moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
    -webkit-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 3;
    position: relative;
    margin-bottom: 25px;
    margin-top: -400px;
    padding-bottom: 35px;
}

.login {
    width: 545px;
    margin: 0 auto;
}

.holder-or {
    position: relative;
    width: 550px;
    margin: 20px auto 20px auto;
}

.holder-or hr {
    z-index: 2;
}

.holder-or .word-or {
    width: 40px;
    height: 20px;
    background: #fff;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -20px;
    margin-top: -10px;
    z-index: 3;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color: #555;
}

.signup .form-text-field {
    float: none;
    display: block;
    margin-top: 8px;
}

.title {
    margin-top: 30px;
    margin-bottom: 30px;
}

.title .main-title {
    font-weight: bold;
    font-size: 21px;
    color: #444;
    display: block;
}

.sub-title {
    font-weight: bold;
    color: #666;
    display: block;
    margin-top: 10px;
}

.title-hint {
    color: #444;
    font-size: 20px;
    font-weight: bold;
}

.title-hint div {
    display: inline;
}

.title-hint .title-logo {
    text-align: center;
    background: url(../images/twothings.png) no-repeat -127px -283px;
    width: 36px;
    height: 38px;
    display: inline-block;
}

.title-hint span {
    position: relative;
    top: -12px;
}

.title-hint {
    margin-bottom: 15px;
}

.you-are-done {
    margin-top: 20px;
}

.logo-container {
    float: none;
}

.main-container {
    top: 0px;
    position:initial;
}

#banner {
    background-attachment: fixed;
    background-color: #666;
    background-image: url(../images/3.jpg);
    background-position: top left;
    background-repeat: repeat;
    color: #fff;
    padding: 15em 0 25em 0;
    text-align: center;
}

.inside-app .profiles .title {
    text-align: left;
    font-weight: bold;
}

.use-for {
    margin: 0;
    padding: 0;
    width: 734px;
    margin-left: -12px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 0px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.use-for table {
    width: 100%;
}

.use-for table td {
    width: 33.33%;
}

.use-for table div {
    border: 1px solid #ccc;
    border-radius: 50%;
    font: 20px;
    width: 25px;
    margin: 0 auto;
    padding: 20px;
    color: #444;
}

.use-for table div:hover {
    border-color: #888;
}

.use-for p {
    color: #444;
    font-family: arial;
}

.use-for p.tb {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    font-family: 'Lora', serif;
    color: #444;
}