html, body {
    padding: 0px;
    margin: 0px;
    border: 0px;
    background: #e9e9e9;
    font-family: 'Lora', serif;
}

.header {
    width: 100%;
    height: 50px;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}

.logo-container {
    text-align: center;
    margin-top: 20px;
    position: relative;
    background: url(../images/twothings.png) no-repeat 0px 0px;
    width: 206px;
    height: 60px;
    display: inline-block;
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
    cursor: pointer;
    float: left;
}

.logo-container.logo-small {
    background: url(../images/twothings.png) no-repeat 0px -141px;
    margin-top: 0px;
    width: 162px;
    height: 50px;
}

.logo-container.logo-small a {
    width: 162px;
    height: 50px;
}

.logo-container a {
    width: 205px;
    height: 60px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.main-navigation {
    z-index: 3;
    position: relative;
}

.main-navigation ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}

.main-navigation ul li a:hover, .main-navigation ul li a.active {
    color: #0066FF;
}

.btn {
    background-clip: padding-box;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    font-size: 13px;
    padding: 7px 9px 7px 7px;
    background-color: #f7f7f7;
    background: linear-gradient(#fff, #f0f0f0);
    border: 1px solid #ccc;
    color: #5f5f5f;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 0 1px #fff;
    white-space: nowrap;
    text-decoration: none;
}

.btn-text {
    color: #5f5f5f;
    cursor: pointer;
    font-weight: bold;
    white-space: nowrap;
}

.btn.red {
    background-image: linear-gradient(#e3262e, #ab171e);
    background-color: #ab171e;
    border-style: solid;
    border-width: 1px;
    border-bottom-color: #820a0f;
    border-left-color: #9a1015;
    border-right-color: #9a1015;
    border-top-color: #af151b;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.34);
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.11);
}

.btn.red .btn-text, .btn.blue .btn-text {
    color: #ffffff !important;
}

.btn.blue {
    background-color: #0078e7;
    background: linear-gradient(#0066FF, #0047B2);
    border-style: solid;
    border-width: 1px;
    border-bottom-color: #003399;
    border-left-color: #0000FF;
    border-right-color: #0000FF;
    border-top-color: #0033CC;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.34);
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.11);
}

.error {
    width: 450px;
    padding: 10px;
    background: #FFDADA;
    margin: 0 auto;
    color: #CC0000;
    line-height: 1.2em;
    font-family: 'Arial';
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #CC0000;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.body {
    width: 100%;
    height: auto;
}

.head {
    background: none repeat scroll 0 0 #FFFFFF;
    width: 100%;
    min-height: 50px;
    padding: 10px;
    overflow: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    position: fixed;
    z-index: 999;
}

.main-container {
    
}

.cover-dark {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    background: #000;
    opacity: 0.7;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; // IE8
    filter: alpha(opacity=70); // IE 5-7
    z-index: 2;
}

.clear {
    float: none;
    clear: both;
}

.form-text-field {
    float: left;
}

.form-text-field input {
    background: #fff;
    padding: 10px 10px;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
    outline: #ccc;
    font-weight: bold;
    width: 250px;
}

#login-form .form-text-field:nth-child(1n + 0) {
    margin-left: 10px;
}

#login-form .form-text-field:nth-child(1n + 1) {
    margin-right: 10px;
}

.form-field input:focus {
    border: 1px solid #ccc;
    outline: #ccc;
}

.form-btn-container {
    position: relative;
    margin-top: 12px;
}

.form-btn-container input {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
    outline: rgba(5, 37, 105, 0.64);
    cursor: pointer;
}

.form-btn-container input.btn-blue {
    background-color: #0078e7;
    background: linear-gradient(#0066FF, #0047B2);
    border: 1px solid rgba(5, 37, 105, 0.64);
}

.form-btn-container input.btn-red {
    background-image: linear-gradient(#e3262e, #ab171e);
    background-color: #ab171e;
    border-bottom-color: #820a0f;
    border-left-color: #9a1015;
    border-right-color: #9a1015;
    border-top-color: #af151b;
}

.inline-menu {
    list-style: none;
}

.inline-menu li {
    float: left;
    display: inline-block;
    margin-right: 15px;
    list-style: none;
}

.inline-menu li:last-child {
    margin-right: 0px;
}

.search-form-container {
    position: relative;
    width: 430px;
    float: left;
    margin-left: 25px;
    margin-top: 8px;
}

.search-form-container input {
    position: relative;
    width: 405px;
    padding: 8px 10px;
    font-weight: bold;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
    outline: rgba(5, 37, 105, 0.64);
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    z-index: 2;
}

.search-form-container button.search-btn {
    position: absolute;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0px none;
    cursor: pointer;
    z-index: 3;
    right: 3px;
    top: 5px;
    font-size: 18px;
}

.main-container {
    width: 98%;
    min-width: 320px;
    min-height: 30px;
    position: relative;
    top: 75px;
    margin: 0 auto;
}

.img-responsive {
    display: block;
    width: 100% \9;
    max-width: 100%;
    height: auto;
}